@import url('./styles/header.css');

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/AnyConv.com__Gilroy-Regular.woff2'),
  url('../fonts/Gilroy-Regular.woff');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/AnyConv.com__Gilroy-Medium.woff2'),
  url('../fonts/Gilroy-Medium.woff');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/AnyConv.com__Gilroy-SemiBold.woff2'),
  url('../fonts/Gilroy-SemiBold.woff');
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/AnyConv.com__Gilroy-Bold.woff2'),
  url('../fonts/Gilroy-Bold.woff');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0 auto;
}

/* body {
  font-family: 'Gilroy', sans-serif;
} */

h1,
h2,
h3,
h4,
h5,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
}






